:root {
    --dark-color: rgb(53, 53, 54);
    --light-color: rgb(255, 255, 255);
    --accent-color: #00ff62;
    --background-color: var(--dark-color);
    --text-color: var(--light-color);
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    /* background-color: var(--background-color); */
    background: -webkit-linear-gradient(
        -35deg,
        var(--accent-color),
        rgb(240, 239, 239)
    );
    background: linear-gradient(180deg, var(--accent-color), rgb(36, 36, 36));
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    min-height: 100%;
    display: grid;
    place-items: center;
}

.container {
}

.title {
    font-size: 48px;
    margin: 12px auto;
}

.calculator {
    margin-top: 25px;
    display: grid;
    grid-template-rows: 20px 1fr auto;
    gap: 28px;
    max-width: 900px;
    width: auto;
    border-radius: 12px;
    background: -webkit-linear-gradient(
        -35deg,
        var(--accent-color),
        rgb(37, 37, 37)
    );
    background: linear-gradient(0deg, rgb(17, 17, 17), rgb(39, 39, 39));
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.26);

    padding: 40px;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid var(--accent-color);
    height: 100%;
    padding: 10px 5px;
}

#preview {
    color: var(--accent-color);
    height: auto;
}

#result {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    outline: transparent;
    text-align: right;
    color: inherit;
}
/* 
.result::-webkit-outer-spin-button,
.result::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.result[type='number'] {
    -moz-appearance: textfield;
}
 */
.keypad {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.base-operations {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.advanced-operations {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.key {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
    min-width: 68px;
    height: 68px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1s);
    border: none;
    background-color: rgba(40, 40, 40, 1);
    color: inherit;
    font-size: inherit;
    transition: ease-in;
}

.key:hover,
.key:focus {
    color: var(--accent-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.key-main {
    opacity: 1;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: black;
}

.key-main:hover {
    opacity: 0.8;
    color: black;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.key-main:focus {
    outline: none;
    opacity: 0.8;
    color: black;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.key-numeric {
}

.key-extened {
    grid-column: span 2;
}
